body {
    font-family: Arial;
    background-color: rgb(185, 179, 179);
    padding: 10px;
}
.page {
    border: 1px solid #665544;
    background-color: #efefef;
    padding: inherit;
}
a:link {
    color:slategrey;
    text-decoration: none;
}
a:visited{
    color: black;
}
a:hover{
    color:slategrey;
    text-decoration: underline;
}

a:active {
    color:darkblue;
}